@mixin btn-class {
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 20px 0;
	font-family: $font1;
    font-weight: 300;
    text-align: center;
    
    //@include transition(.7s);
    cursor: pointer;
    &:hover{
        animation: rotate 0.7s ease-in-out;
        animation: storm 0.7s ease-in-out;
        animation-delay: 0.06s;
    }
    &:focus{
        outline: none;
    }
    &.large-width{
        width: 220px;
    }
    @media #{$mobile_device}, #{$tablet_device}{
        line-height: 35px;
        font-size: 15px;
        //width: 100px;
    }
}
.template_btn{
    @include btn-class;
    color: #000;
    background: transparent;
    border: 1px solid #000;
    font-size: 15px;
    &:hover{
        background: rgba(0,0,0, 0.2);
        color: #000;
    }
}
.template_btn_pink{
    @include btn-class;
    color: #fff;
    background: $logo_pink;
    font-size: 15px;
    &:hover{
        background: transparent;
        border: 1px solid $logo_pink;
        color: $logo_pink;
    }
}
.boxed-btn {
    @include btn-class;
    color: #FFF;
    background: #000;
    font-size: 20px;
}
.boxed-btn-pink {
    @include btn-class;
    color: #FFF;
    background: $logo_pink;
    font-size: 20px;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25%{
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50%{
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75%{
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100%{
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

  
@keyframes storm{
    0%{
        transform: translate3d( 0, 0, 0) translateZ(0);
    }
    25%{
        transform: translate3d( 4px, 0, 0) translateZ(0);
    }
    50%{
        transform: translate3d( -3px, 0, 0) translateZ(0); 
    }
    75%{
        transform: translate3d( 2px, 0, 0) translateZ(0);
    }
    100%{
        transform: translate3d( 0, 0, 0) translateZ(0); 
    }
}
.nav_btn3{
    background: $black_color;
	display: inline-block;
    padding: 10px 10px;
    margin: 0 3px;
	font-family: $font1;
	font-size: 15px;
    font-weight: 400;
    border: none;
    text-align: center;
    color: #fff !important;
    @include transition(.5s);
    cursor: pointer;
    &:hover{
        border: 1px solid $black_color;
        color: $black_color;
        background: transparent ;
    }
    &:focus{
        outline: none;
    }
    &.large-width{
        width: 220px;
    }
}



