.footer{
    .footer_top{
        padding-top: 100px;
        padding-bottom: 100px;
        background: #000;
        display: flex;
        flex-direction: column;
        .newsletter{
            display: flex;
            margin-bottom: 20px;
            @media #{$tablet_device}, #{$mobile_device}{
                flex-direction: column;
            }
            input{
                width: 100%;
                height: 50px;
                border: none;
                color: #fff;
                border-bottom: 1px solid #FFF;
                background:transparent;
                padding: 15px 0;
                margin-left: 30px;
                &::placeholder{
                    color: #919191;
                    font-weight: 400;
                }
                &:focus{
                    outline: none;
                }
            }
            label{
                color: #FFF;
                font-size: 25px;
                font-weight: 400;
            }
            .input_div{
                display: flex;
                align-items: flex-start;
                
                .enter_btn{
                    position: relative;
                    bottom: 0;
                    float: right;
                    outline:none;
                    border: none;
                    cursor: pointer;
                    background: $logo_blue_dark;
                    font-weight: 600;
                    width: 150px;
                    height: 50px;
                    border-radius: 15px;
                    color: #FFF;
                    &:hover{
                        background:transparent;
                        border: 1px solid $logo_blue_dark;

                    }
                    
                } 
            }
        }
        .contact_list{
            font-size: 20px;
            margin: 0 15px;
            font-weight: 600;
            @media #{$mobile_device}{
                margin: 0 10px;
                font-size: 15px;
            }
            ul{
                margin-top: 10px;
            }
            li{
                font-size: 15px;
                font-weight: 300;
                margin: 5px 0;
            }

        }
        @media #{$mobile_device} {
            padding-top: 50px;
            padding-bottom: 30px;
        }
        @media #{$tablet_device} {
            padding-top: 50px;
            padding-bottom: 60px;
        }
        @media #{$mid_device} {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }    
    .copy-right_text{
        padding-bottom: 25px;
        background:#000;
        .footer_border{
            border-top: 1px solid #363636;
        }
        .copy_right{
            font-size: 15px;
            color:#C9C9C9;
            margin-bottom: 0;
            font-weight: 400;
            @media #{$mobile_device} {
                font-size: 13px;
            }
            a{
                color: $logo_blue_dark;
            }
        }
    }
    .menu_links{
        display: flex;
        color: #FFF;
        img{
            width: 100px;
        }
        a{
            color: #FFF;
        }
        .footer_link{
            color: #8a8a8a;
            &:hover{
                color: #FFF;
            }
        }
    }
    .icons_links{
        color: #FFF;
        width: 300px;
        float: right;
        @media #{$tablet_device}, #{$mobile_device}{
            margin: 0 auto;
            float: none;
        }
        ul{
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        i{
            color: #FFF;
            font-size: 20px;
            margin-right: 15px;
            background: #23ACBC;
            border-radius: 50%;
            padding: 15px;
            &:hover{
                color: #23ACBC;
                border: 1px solid #23ACBC ;
                background: transparent;
            }
        }
    }
}
@media #{$tablet_device}, #{$mobile_device}{
    .hidden{
        display: none;
    }
    .footer_links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
    }
}
