.get_in_touch{
    padding-top: 100px;
    padding-bottom: 160px;
    background: #FFF;
    .get_container{
        display: flex;
        justify-content: center;
    }
    @media #{$mobile_device} {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .get_section{
        display: flex;
        justify-content: center;
        @media #{$mid-device}, #{$tablet_device}, #{$mobile_device}{
            flex-direction: column;
        }
        
        .headline_section{
            @media #{$mid_device}, #{$tablet_device}, #{$mobile_device}{
                text-align: center;
            }
            h1{
                font-size: 45px;
                font-weight: 900;
                @media #{$mobile_device}{
                    font-size: 30px;
                }
            }
            p{
                font-size: 20px;
                font-weight: 200;
                line-height: 30px;
                color: #000;
            }
        }
        .img_section{
           margin-top:-70px;
           @media #{$mid_device}, #{$tablet_device}, #{$mobile_device}{
               margin-top: 0;
               display: flex;
               justify-content: center;
           }
            img{
                padding-left: 200px;
                @media #{$mid_device}, #{$tablet_device}, #{$mobile_device}{
                    width: 90%;
                    padding-left: 0;
                }
           }
        }
        button{
            margin-top: 50px;
        }
    }
    
}
///Gallery with logos of brands strip////

.gallery_section{
    display:flex;
    justify-content: center;
    border-top: 1px solid $font_5;
    background: #fff;
    padding: 20px 0;
    @media #{$mobile_device}{
        justify-content: flex-start;
        padding-top: 10px;
    }
    .gallery_container{
        ul{
            display:flex;
            justify-content: center;
            align-items: center;
            @media #{$mobile_device}{
                display:grid;
                grid-template-columns: 100px 50px;
                grid-template-rows: 80px auto 80px; 
                column-gap: 50px;
            }
            li{
                padding-right: 100px;
                @media #{$mid_device}, #{$tablet_device}{
                    padding-right: 10px;
                }
                @media #{$mobile_device}{
                    padding-right: 0;
                    align-self:center;
                }
            }
            img{
                width: 150px;
                @media #{$mobile_device}{
                    width: 130px;
                }
            }
        }
    }
}
