// portfolio_image_area 
.portfolio_image_area{
    position: relative;
    background: $section_bg;
    .section_title{
        h1{
            font-weight: 900;
            font-size: 45px;
            padding-top: 60px;
            @media #{$mobile_device}{
                font-size: 35px;
            }
        }
        p{
            color: #000;
            font-size: 20px;
            font-weight: 200;
        }
    }
    .hidden{
        width: 150px;
        margin-bottom: 50px;
    }
    
    .row_portfolio{
        .wrapper{
            padding-top:  50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .social_ads{
                padding-top: 30px;
            }
        }
        
        h2{
            font-weight: 900;
            font-size: 20px;
        }
        .video_container{
            padding-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            @media #{$tablet_device}{
                grid-template-columns: 1fr 1fr;
            }
            @media #{$mobile_device}{
                grid-template-columns: 1fr;
            }
            .myvideos{
              width: 90%;
            }
        }
        .btn_area{
            padding: 50px 0;
            display: block;
            text-align: center;
        }
    }
    
}


/*.portfolio_marquee{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #000;
    @media #{$mid_device}, #{$tablet_device}, #{$mobile_device}{
        display: none;
    }

    .marquee{
        margin:0;
        height: 12vh;
        .marquee_content{
            height: 100%;
            display: flex;
            width: 100vw;
            animation: scrolling 10s linear infinite;
            &:hover{
                animation-play-state:paused
            }
            li{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 70px;
                color: #FFF;
                //color: $theme-color;
                font-family: $font1;
                font-weight: 600;
                flex-shrink: 0;
                width: 25vw;
                white-space: nowrap;
                margin-right: 0px;
                &:hover{
                    color: $section_bg;
                    -webkit-text-stroke: none;
                    cursor: pointer;
                }
                &::after{
                    content: "";
                    position: absolute;
                    height: 3px;
                    width: 40px;
                    background-color:$section_bg; 
                    transform: translateX(-40px);
                }
            }
        }
    }
}
@keyframes scrolling{
    0%{
        transforme: translate(0);
    }
    100%{
        transform: translateX(-100vw);
    }
}*/
.purpose{
    background:#fff;
    color: #000;
    font-family: $font1;
   padding: 100px 0;
    .purpose_wrapper{
        display: flex;
        justify-content: space-around;
        @media #{$tablet_device}, #{$mobile_device}, #{$mid_device}{
            flex-direction: column;
        }
    }
}
#typing{
    
    font-size: 50px;
    font-weight: 900;
    min-height: 100px;
    @media #{$mobile_device}, #{$tablet_device}, #{$mid_device}{
        font-size: 30px;
    }
}
.animation_ads{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 200px;
    @media #{$tablet_device}, #{$mobile_device}, #{$mid_device}{
        padding-left: 0;
    }
    p{
        font-size: 30px;
        font-weight: 700;
        opacity: 40%;
        
    }
}

.img_area_typing{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    @media #{$tablet_device}, #{$mobile_device}, #{$mid_device}{
        justify-content: center;
    }
    img{
        width: 400px;
        @media #{$tablet_device}, #{$mobile_device}, #{$mid_device}{
            width: 400px;
        }
    }
}