.portfolio_details_banner{
    background: $logo_crimson;
    padding-top: 200px;
    padding-bottom: 450px;
    @media #{$mobile_device}{
        padding: 100px 0 50px 0;
    }
    .details_info{
        h3{
            font-size: 90px;
            font-weight: 900;
            line-height: 90px;
            color: #fff;
            margin-bottom: 62px;
            @media #{$mobile_device} {
                font-size: 30px;
                margin-bottom: 30px;
            }
        }
        p{
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-family: $font1;
            font-weight: 100;
            color: #FFF;
        }
        .details_links{
            @media #{$mobile_device} {
                display: block !important;
                text-align: center;
            }
            .single_details{
                @media #{$mobile_device}{
                    margin-bottom: 30px;
                }
                span{
                    width: 50px;
                    height: 50px;
                    background: $logo_blue_light;
                }
                h4{
                    font-family: $font1;
                    font-size: 15px;
                    font-weight: 300;
                    text-transform: uppercase;
                    color: #fff;
                }
               
            }
        }
    }
}

.portfolio_details_wrap{
    padding-bottom: 130px;
    position: relative;
    margin-top: -380px;
    @media #{$mobile_device}{
        padding-bottom: 60px;
    }
    @media #{$mobile_device} {
        margin-top: 60px;
    }
    .banner{
        img{
            width: 100%;
        }
    }
    .details_text{
        margin-bottom: 70px;
        margin-top: 80px;
        @media #{$mobile_device} {
            margin: 30px 0;
        }
        p{

        }
    }
    .thumbs{
        .single_thumb{
            margin-bottom: 30px;
            img{
                width: 100%;
            }
        }
    }
}
.video_batching{
    padding: 122px 0 0 0;
    margin: 0 auto;
    width: 90%;
    max-width: 1345px;
    .video_batching_text{
        span{
            text-transform: uppercase;
            color: $logo_blue_light;
        }
        h1{
            font-weight: 900;
            @media #{$tablet_device}, #{$mobile_device}{
                padding-bottom: 30px;
            }
        }
    }
    .batching_row{
        display: flex;
    }
    .video_batching_item{
        display: flex;
        margin: 0 25px 30px 25px;;
        i{
            margin-right: 20px;
            font-size: 25px;
            color: $logo_blue_light;
        }
        .item_text{
            h2{
                font-size: 25px;
                font-weight: 800;
                font-family: $font1;
            }
            p{
                color: #000;
            }
        }
    }
}
.video_abbreviation{
    background: $gray-color-2;
}
.products_img_divider{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    img{
        margin: 0 auto;
        @media #{$tablet_device}, #{$mobile_device}{
            width: 100%;
        }
    }
}
.get_started{
    background: linear-gradient(to right, $logo_crimson, $logo_pink);
    color: #FFF;
    .get_started_text{
        padding: 100px 0;
        h3{
            font-size: 40px;
            font-weight: 800;
        }
        p{
            color: #FFF;
            font-size: 20px;
            font-weight: 200;
        }
        a{
            margin-top: 10px;
        }
    }
}