
.team_area{
    padding-top: 100px;
    padding-bottom: 122px;
    background: #1F1F1F;
    @media #{$mobile_device}{
        padding-top: 50px;
        padding-bottom: 20px;
    }
    @media #{$tablet_device}{
        padding-top: 100px;
        padding-bottom: 70px;
    }
    .team_heading{
        h1{
            font-size: 100px;
            color: #FFF;
            margin-bottom: 7px;
            border-top: 1px solid #FFF;
            border-bottom: 1px solid #FFF;
        }
    }
    ul{
        li{
            display: inline-block;
            margin: 4px 4px;
            img{
                width: 200px;
                height: 200px;
                padding: 10px;
                text-align: center;
                color: #fff;
                border: 1px solid #FFF;
                display: inline-block;
            }
        }
    }
    .team_title{
        padding-top: 28px;
        p{
            font-size: 25px;
            margin-bottom: 0;
            font-weight: 400;
            color: #FFF;
            font-family: $font1;
        }
        &:hover{
            .team_hover{
                @include transform(translateY(0px));
                opacity: 1;
            }
        }
    }
}