
.testimonial_area{
    background:#000;
    text-align: center;
    color: #fff;
    @media #{$mobile_device}{
        min-height: 460px;
    }
    i{
        color: $logo_pink;
        font-size: 50px;
        padding-top: 50px;
        @media #{$mobile_device}{
            font-size: 30px;
        }
    }
    #carouselExampleControls{
        padding: 50px 0;
    }
    span{
        color: #fff;
    }
    h1{
        color: #fff;
        font-size: 45px;
        font-weight: 900;
        @media #{$mobile_device}{
            font-size: 30px;
        }
    }
    h2{
        @media #{$mobile_device}{
            font-size: 20px;
        }
    }
    p{
        color: #fff;
        @media #{$mobile_device}{
            font-size: 15px;
            padding: 0 10px;
        }
    }
}