@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

// fonts
$font1:  'Muli', sans-serif;
$font2:  'Roboto', sans-serif;
// fonts-size

$heading-color:#1F1F1F;
$gray-color: #e5e5e5;
$gray-color-2: #e9ecef;

$theme-color: #1F1F1F;
$theme-color2: #ff5e13;

$gray-color3:#5c5c5c;
$white_color:#fff;



$font_1: #666666;
$font_2: #646464;
$font_3: #7f7f7f;
$font_4: #8a8a8a;
$font_5: #b1adad;
$font_6: #666666;
$font_7: #5c5c5c;
$border_color: #fdcb9e;
$footer_bg: #303030;
$sidebar_bg: #fbf9ff;

$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';

// ,,,,,,,,,,,
$logo_crimson: #B4548C;
$section_bg: #f7f7f7;
$black_color: #2B252B;
$logo_blue_lighter: rgb(90, 188, 199);
$logo_blue_dark: #23ACBC;
$logo_blue_darker: #12A7B4;
$logo_blue_light:#6CCCD4;
$logo_pink: #DEA6C3;
$logo_pink_light: #FFCDD2;


//for deleting 
$heading_color2: #1F1F1F;
$theme_color: red;
$btn_bg: green;
