//for 100%width main page - main changes 
body {
	max-width: 100%;
	margin: 0;
	padding: 0;
	min-height: 100%;
	box-sizing: border-box;
	overflow: visible;
}
//imports 
@import '_varriable.scss';
@import '_mixins.scss';
@import '_extend';
@import '_responsive.scss';
@import 'theme-default.scss';
@import '_btn';
@import '_slick-nav.scss';
@import '_slider.scss';



// header
@import 'header';

// slider
@import 'slider';

// about
@import 'features';

// counter
@import 'counter';
// counter
@import 'about';

// templates
@import '_templates';

// about
@import 'footer';

@import 'bradcam';

@import 'department';

@import 'tesmonial';

@import 'discuss';

@import 'service';

@import 'video';

@import 'portfolio';

@import 'experts';

@import 'emergency_contact';

@import 'prising';

@import '_team';

@import 'getIn_tauch';

@import 'mission';

@import 'products_details';


// other pages default
//about us page
@import "_about_us";

// contact
@import 'contact';

// elements
@import '_elements.scss';

// blog
@import 'blog';


// blog part
@import 'blog_part';

